@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200;300;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


:root {
    --primary-color: #106EEA;    
}

.active {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}


.mobile-hamburger {
    display: none;
}

/* Buttoni per Header -Contact */

.header-button {
    font-size: 17px;
    height: 35px;
    padding: 0px 20px;
    display: inline-block;
    line-height: 35px;
    border-radius: 15px;
    color: var(--primary-color);
    text-decoration: none;
    border: 1px solid var(--primary-color);
    transition: all .4s;
}

.header-button:hover {
    color: white;
    background-color: var(--primary-color);
    transform: translateY(-5px);
}














/* TOP HEADER BEGIN================================================== */

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    height: 40px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.socialtop {
    width: 100%;
    text-align: right;
    /* padding-right: 100px; */
    margin-right: 100px;
}
.contact-top {
    width: 100%;
    text-align: left;
    /* padding-left: 100px; */
    margin-left: 100px;
}



.top-bar .contact-top span {
    display: inline-block;
    padding-right: 15px;
}


.contact-top span i {
    color: white;
}


.contact-top span i a {
    font-size: 15px;
    color: white;
    font-weight: 300;
    padding-left: 5px;
    text-decoration: none;
}


.socialtop a i {
    color: rgba(255, 255, 255, 0.7);
    font-size: 17px;
    padding: 0 8px;
}

.socialtop a i:hover {
    color: white;
    transition: all 0.2s ease-in-out;
    transform: scale(1.2);
}
/* TOP HEADER END===================================================== */











/* BOTTOM HEADER BEGIN================================================== */
header {
    height: 80px;
    color: white;
    background-color: var(--primary-color);
    overflow: hidden;
}


header .wrapper {
    height: 85px;
    background-color: #fff;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    z-index: 999;
    transition: all 0.5s;
}

header .bottom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center; */
    height: 85px;
    width: 100%;
    margin: 0 auto;
}

header .bottom-header .logo,
header .bottom-header nav {
    margin: 0 100px;
}

header a {
    color: var(--primary-color);
    text-decoration: none;
}

header .bottom-header .logo a {
    font-size: 35px;
    font-weight: 700;
    color: black;
}

header .bottom-header .logo span {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 30px;
}


header nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    /* display: grid;
    grid-template-columns: repeat(6, 1fr); */
    align-items: center;
    gap: 20px;
}

header nav ul a {
    font-size: 17px;
    color: black;
}

header nav ul li a {
    position: relative;
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
}

header nav ul li a::after {
    content: "";
    position: absolute;
    background-color: var(--primary-color);
    height: 2px;
    width: 0;
    left: 0;
    bottom: -0px;
    transition: 0.3s;
}

header nav ul li a:hover::after {
    width: 100%;
}


header nav ul li a i {
    color: #ccc;
    font-size: 12px;
}
/* BOTTOM HEADER END==================================================== */















/*SHAPE DIVIDER BEGIN=====================================================*/
.custom-shape-divider-bottom-1667074188 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    overflow: hidden;
}

.custom-shape-divider-bottom-1667074188 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 76px;
    transform: rotateY(180deg);
    overflow: hidden;
}

.custom-shape-divider-bottom-1667074188 .shape-fill {
    fill: #FFFFFF;
    overflow: hidden;
}
/*SHAPE DIVIDER END==========================================================*/

















/* BEGIN MAIN============================================================== */
main {
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

main {
    height: calc(100vh - 150px);
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding: 60px 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

main::before {
    content: "";
    background: rgba(0, 0, 0, 0.145);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

main .container {
    margin: 0 95px;
    padding: 0 12px;
    position: relative;
}

main .container h1 {
    margin: 0;
    font-size: 78px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}

main .container h1 span {
    color: var(--primary-color);
}

main .container h2 {
    text-transform: uppercase;
    color: #fff;
    margin: 20px 0 10px 0;
    font-size: 32px;
    padding-left: 10px;
    font-weight: 400;
}

main .container h3 {
    color: white;
    font-size: 18px;
    padding-left: 10px;
    font-weight: 400;
    margin-bottom: 25px;
}

main .butonat-main {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

main .butonat-main .btn{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #106eea;
}

main .butonat-main i {
    color: #106eea;
    font-size: 32px;
    transition: 0.3s;
    line-height: 0;
    margin-right: 8px;
    cursor: pointer;
    gap: 1.5rem;
}

main .butonat-main i span {
    font-size: 16px;
    color: white;
    position: absolute;
    left: 230px;
}


main .btn-main-1 {
text-decoration: none;   
text-transform: uppercase;
font-weight: 500;
font-size: 14px;
letter-spacing: 1px;
display: inline-block;
padding: 15px 32px;
border-radius: 4px;
transition: 0.5s;
color: #fff;
background: var(--primary-color);
margin-left: 10px;
border: 2px solid var(--primary-color);
}

main .btn-main-1:hover {
    transform: translateY(10px);
}

main .btn-main-2 {
    text-decoration: none;   
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 15px 32px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    border: 2px solid white;
    margin-left: 30px;
}

main .btn-main-2:hover {
    background-color: var(--primary-color);
    color: white;
    border: 2px solid var(--primary-color);
    transform: translateY(10px);
}
/* MAIN END===============================================================*/
















/* ABOUT-US BEGIN==========================================================*/
.about-us {
    width: 100%;
    padding: 48px 12px;
    overflow: hidden;
    margin-top: 200px;
}

.about-us .about-container {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    padding: 0;
    width: 100%;
}

.about-us .row-about {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.about-us .about-image {
    padding: 0 24px;
}


.about-image .img-about img {
    object-fit: cover;
    vertical-align: middle;
    height: 575px;
    width: 500px;
    /* width: 100%; */
}


.about-us .about-text {
    overflow: hidden;
    padding: 0 24px;
    width: 700px;
}

.about-text .about-leftborder {
    border-left: 5px solid var(--primary-color);
    padding-left: 48px;
    margin-bottom: 48px;
}

.about-leftborder h6 {
    margin-bottom: 8px;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--primary-color);
}

.about-leftborder h1 {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
}

.about-us h4 {
    margin-bottom: 24px;
    font-size: 24px;
    color: #656565;
}

.about-us .mission-vission {
    padding: 24px;
    background-color: #F3F3F3;
}

.mission-vission ul {
    padding-left: 0;
    margin-bottom: 16px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mission-vission .li1 {
    width: 50%;
    display: list-item;
    text-align: center;
}

.mission-vission .li2 {
    width: 50%;
    display: list-item;
    text-align: center;
}

.mission-vission ul .li1 button {
    padding: 8px 16px;
    width: 100%;
    border: none;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    background-color: var(--primary-color);
}

.mission-vission ul .li2 button {
    padding: 8px 16px;
    width: 100%;
    border: none;
    cursor: pointer;
    color: var(--primary-color);
    text-transform: uppercase;
}
/* ABOUT-US END================================================================= */

























/* OUR SERVICES BEGIN=========================================================== */
.services-section {
    width: 100%;
    height: 100vh;
    margin-top: 200px;
    padding: 0 12px;
    overflow: hidden;
}

.container-services {
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    padding: 0 12px;
}


.row-services {
    padding: 0 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.services-section .border-header {
    width: 100%;
    margin-left: 0;
    border-width: 5px;
    padding-left: 50px;
    margin-bottom: 48px;
    border-left: 5px solid var(--primary-color);
}

.container-services .border-header h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    color: var(--primary-color);
}

.container-services .border-header h1 {
    font-size:  45px;
    text-transform: uppercase;
}

.service2 h2 {
    text-transform: uppercase;
    font-size: 25px;
}

.service2 p {
    font-size: 16px;

}

.row-services a{
    text-decoration: none;
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 16px;
}


.service11 img {
    transform: scale(1.0);
    height: 100px;
    border-radius: 7px;
}

.service11:hover {
    transform: scale(1.05);
    outline: 2px solid var(--primary-color);
}

.service2 {
    margin-left: 20px;
}

/* w7 8 */

.service11 {
    background: rgb(238, 238, 238);
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s, background 0.5s;
}

.service11 i {
    color: var(--primary-color);
}
/* OUR SERVICES END======================================================================= */














/* PRODUCTS START =========================================================================*/


#products {
    overflow: hidden;
    padding: 0 12px;
    width: 100%;
}


.produktet .cont {
    padding: 0 12px;
    margin: 0 150px;
}

.carousel-owl {
    padding: 48px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}


.carousel-owl .pb-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 20px;
    padding: 25px;
    background-color: rgb(238, 238, 238);
    
}

.carousel-owl .pb-5 img {
    margin-bottom: 20px;
    display: block;
    width: 100%;
    height: auto;
}

.carousel-owl .pb-5 h6 {
    font-size: 20px;
    margin-bottom: 8px;
    font-weight: 700;
    line-height: 1.2;
    color: #212121;
    display: block;
    text-align: center;
}

.produktet .pb-5 h5 {
    color: #106EEA;
}

.produktet .border-header h6 {
    color: var(--primary-color);
    font-size: 20px;
}

.border-header {
    margin-left: 34px;
    max-width: 200px;
    max-width: 600px;
    border-width: 5px;
    padding-left: 50px;
    margin-bottom: 3rem;
    display: block;
    border-color: #7AB730;
    border-left: 5px solid var(--primary-color);
}


.cont .border-header h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    color: var(--primary-color);
}

.cont .border-header h1 {
    font-size:  45px;
    text-transform: uppercase;
}


.produktet .cont {
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px 0;
}


.product-item {
    padding: 30px;
}

.owl-nav {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
}


.owl-nav .owl-prev {
    background-color: var(--primary-color);
    padding: 12px 22px;
    margin: 10px;
}

.owl-nav .owl-next {
    padding: 12px 22px;
    margin: 10px;
    background-color: var(--primary-color);
}

.owl-nav i {
    color: white;
}

.owl-nav i:hover{
    color: black;
    transition: all 0.3 ease;
}

.owl-nav .owl-next:hover {
    color: black;
    transition: all 0.3 ease;
    cursor: pointer;
}

.owl-nav .owl-prev:hover {
    color: black;
    cursor: pointer;
    transition: all 0.3 ease;
}
/* PRODUCTS END ===========================================================================*/


















/* SPECIAL OFFER BEGIN========================================================================= */
.special-offer {
    background-image: url(../images/offer.jpg);
    background-size: cover;
    margin: 48px auto;
    padding: 48px 12px;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    display: block;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.special-offer .offer-container {
    margin: 0 120px;
    padding: 48px 12px;
    width: 1200px;
    color: white;
}

.special-offer .offer-flexstart {
    display: flex;
    justify-content: flex-start !important;
    flex-wrap: wrap;
}

.special-offer .offer-info {
    width: 57%;
    padding: 0 24px;
}

.special-offer .offer-heading {
    border-left: 5px solid var(--primary-color);
    padding-left: 48px;
    margin-bottom: 48px;
} 

.offer-heading h6 {
    margin-bottom: 8px;
    font-weight: 500;
    line-height: 1.2;
    font-size: 16px;
    color: black;
    text-transform: uppercase;
}

.offer-heading h1 {
    font-weight: 700;
    line-height: 1.2;
    font-size: 45px;
    text-transform: uppercase;
}

.special-offer .text-offer {
    width: 600px;
    display: block;
    margin-bottom: 24px;
}

.offerbuton {
    display: inline-block;
    padding: 16px 48px;
    border: 1px solid white;
    margin-right: 16px;
    background-color: white;
    text-decoration: none;
    color: black;
}

.offerbuton2 {
    display: inline-block;
    padding: 16px 48px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
}

.offerbuton2:hover {
    background-color: white;
    color: black;
    transition: all 0.3s ease-in-out;
}
/* SPECIAL OFFER END========================================================================= */































/* PRICING PANNEL BEGIN====================================================================== */


.pricing-panel .border-header {
    overflow: hidden;
    margin-bottom: 50px;
}

.pricing-panel .border-header h6{
    font-size: 16px;
}

.pricing-panel .border-header h1{
    font-size: 45px;
}

.pricing-panel {
    padding: 48px 12px;
    width: 100%;
    margin: 0 auto;

}

.pricing-panel .pricing-container {
    width: 100%;
    padding: 0 12px;
    margin: 0 150px;
}

.pricing-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 70px;
    margin: 0 150px;
}

.pricing-row .price-col {
    width: 400px;
    padding: 0 24px;
    margin-bottom: 50px; 
}

.price-col-inside {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    background-color: #F3F3F3;
    margin-top: 48px;
    padding-top: 48px;
    height: 560px;
    margin-bottom: 50px;
}

.price-col-inside h2 {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 8px;
}

.price-col-inside h6 {
    font-size: 16px;
    color: #656565;
    margin-bottom: 48px;
}

.price-col-inside .price-green {
    background-color: #7AB730;
    text-align: center;
    padding: 24px;
    margin-bottom: 8px;
}

.price-col-inside .price-green h1 {
    font-size: 48px;
    color: white;
}

.price-col-inside .price-green .small1 {
    font-size: 22px;
    line-height: 45px;
    vertical-align: top !important;
}

.price-col-inside .price-green .small2 {
    font-size: 16px;
    line-height: 40px;
    vertical-align: bottom !important;
}


.price-col-inside .price-table{
    padding: 24px;
    text-align: center;
    margin-bottom: 50px;
}

.price-table .price-table-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    padding-bottom: 10px;
}


.pricing-panel .orderbuton {
    margin-top: 20px;
}

.pricing-panel .order-now {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background-color: #7AB730;
    border: 1px solid #7AB730;
    padding: 8px 24px;
    margin-top: 100px;
}


.pricing-panel .fa-xmark {
    color: red;
}


.pricing-panel .fa-check {
    color: #7AB730;
}
/* PRICING PANNEL END======================================================================== */






































/* TEAM BEGIN========================================================================== */

#team {
    overflow: hidden;
}

.team {
    padding: 48px 12px;
    width: 100%;
    overflow: hidden;
    margin-top: 100px;
}

.team .team-container {
    padding: 0 12px;
    margin: 0 150px;
}

.team .border-header {
    /* width: 100%; */
    padding-left: 48px;
    margin-bottom: 48px;
    border-left: 5px solid var(--primary-color);
}

.team .border-header h6 {
    margin-bottom: 8px;
    font-size: 16px;
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: 400;
}

.team .border-header h1 {
    font-size: 45px;
    text-transform: uppercase;
}


.team .team-slider {
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    width: 100%;
    /* margin-top: 100%; */
    overflow: hidden;
}

.team-wrapper {
    width: 100%;
    display: flex;
    gap: 40px;
    margin-left: 50px;
}

.team .member {
    height: 320px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    overflow: hidden;
    padding-bottom: 15px;
    background-color: rgb(238, 238, 238);
    text-align: center;
}


.team-slider .team-text {
    margin-top: 60px;
}


.team-slider img {
    overflow: hidden;
    transform: scale(1.4);
}

.team-slider h4 {
    font-size: 20px;
}

.team-slider h6 {
    font-size: 12px;
    font-weight: 400;
    color: rgb(83, 83, 83);
}



/* TEAM END============================================================================ */






/* BLOG START =========================================================================== */
.blog {
    width: 100%;
    padding: 48px 12px;
}

.blog-container {
    padding: 0 12px;
    width: 100%;
    margin: 0 150px;
    align-items: center;
}

.blog-border-header {
    width: 600px;
    padding-left: 48px;
    margin-bottom: 48px;
    border-left: 5px solid var(--primary-color);
}

.blog .blog-border-header h6 {
    margin-bottom: 8px;
    font-size: 16px;
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: 400;
}

.blog .blog-border-header h1 {
    font-size: 45px;
    text-transform: uppercase;
}

.blog-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}


.blog-col1 {
    padding: 0 24px;
    margin-top: 48px;
    width: 700px;
    height: 300px;
    overflow: hidden;
}


.blog-row-inside {
    display: flex;
    background-color: #F3F3F3;
    margin: 0;
    padding: 0;
}

.row-col1 {
    overflow: hidden;
    width: 40%;
}


.row-col1 img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.row-col2 {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.col-row4 {
    padding: 24px;
}

.row-date-info {
    margin-bottom: 16px;
}

.col-row4 h5 {
    text-transform: uppercase;
    margin-bottom: 16px;
    font-size: 17px;
}

.col-row4 p {
    margin-bottom: 16px;
}

.col-row4 a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary-color);
}



/* BLOG END============================================================================== */









/* CONTACT2 BEGIN==================================================================== */

.contact2 {
    padding: 60px 0;
    margin-bottom: 100px;
}

.contact-container {
    padding: 0 12px;
    margin: 0 150px;
}

.contact-title {
    padding-bottom: 40px;
}

.contact-title h2 {
    font-size: 15px;
    font-weight: 400;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #a6a5a5;
}
.contact-title p {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2a2c39;
}

.contact-form2 {
    margin-top: 48px;
    display: flex;
    flex-direction: row;
}

.left-contact {
    padding: 0 12px;
    width: 100%;
}

.right-contact {
    padding: 0 12px;
    width: 100%;
}

.contact2 .email {
    margin-top: 40px;
}

.contact2 .phone{
    margin-top: 40px;
}

.contact2 .info-contact h4 {
    padding-left: 60px;
    margin-bottom: 5px;
}

.contact2 .info-contact p {
    padding-left: 60px;
}

.contact2 .info-contact i {
    font-size: 20px;
    color: var(--primary-color);
    float: left;
    width: 44px;
    height: 44px;
    background: #ffecde;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.right-contact .form-name-email {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 10px;
}

.right-contact .form-name-email .name2 {
    width: 50%;
}

.right-contact .form-name-email .email2 {
    width: 50%;
}

.name2 input {
    padding: 6px 12px;
    border: 1px solid #ced4da;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    width: 100%;
    color: #212529;
    height: 44px;
    width: 100%;
}

.email2 input {
    padding: 6px 12px;
    border: 1px solid #ced4da;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    width: 100%;
    color: #212529;
    height: 44px;
    width: 100%;
}

.form-subject input {
    padding: 6px 12px;
    border: 1px solid #ced4da;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    width: 100%;
    color: #212529;
    height: 44px;
}

.form-message input{
    padding: 10px 12px;
    border: 1px solid #ced4da;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    width: 100%;
    color: #212529;
    height: 44px;
}

.form-submit {
    text-align: center;
}

.form-submit button {
    background: var(--primary-color);
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
    margin-top: 20px;
}

.right-contact .form-subject {
    margin-top: 16px;
    padding-bottom: 8px;
}

.right-contact .form-message {
    margin-top: 16px;
    padding-bottom: 8px;
}

.right-contact .form-message textarea {
    padding: 10px 12px;
    border: 1px solid #ced4da;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    width: 100%;
    color: #212529;
}

.right-contact .form-submit{

}

/* CONTACT2 END======================================================================= */















/* TESTIMONIALS BEGIN=================================================================== */
.testimonial {
    background-image: url(../images/dog-background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 600px;
    width: 100%;
    margin: 45px 0;
    padding: 48px 12px;
    margin: 250px 0;
}

.testimonial-container {
    padding: 48px 12px;
    margin: auto;
    width: 100%;
}

.testimonial-row {
    display: flex;
    justify-content: flex-end;
}

.testimonial-col {
    width: 58%;
    padding-left: 50px;
}

.testimonial-col .col-inside {
    background-color: white;
    padding: 40px;
    width: 800px;
    height: 420px;
    align-items: center;
    text-align: center;
}

.testimonial-col .col-inside p {
    color: rgb(71, 71, 71);
    font-weight: 400;
    font-size: 15px;
}

.testimonial-col .col-inside h3 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    padding-top: 20px;
}

.testimonial-col .col-inside h6 {
    color: rgb(71, 71, 71);
    font-size: 16px;
    font-weight: 400;
}

.testimonial .text-testimonial {
    width: 200px;
    display: block;
    text-align: center;
}

.testimonial-col .stage-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.testimonial-col .stage-nav i {
    padding: 12px 22px;
    background-color: var(--primary-color);
    color: white;
    margin: 0 10px;
    cursor: pointer;
}

.testimonial img {
    transform: scale(0.8);
}

.testimonial .testimonial-image {
}

/* TESTIOMONIALS END==================================================================== */











/* SECTION MAP BEGIN======================================================================*/
.map {
    overflow: hidden;
    margin-bottom: -10px;
    padding: 0;
    width: 100%;
}

.map iframe {
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}
/* SECTION MAP END======================================================================== */













/* FOOTER BEGIN========================================================================================== */

footer {
    overflow: hidden;
}

.footer-top{
	max-width: 1500px;
	margin:auto;
    overflow: hidden;
}


.row{
	display: flex;
	flex-wrap: wrap;
}


.footer ul{
	list-style: none;
}

.footer .text-footer {
    color: #bbbbbb;
    width: 300px;
    padding-bottom: 10px;
    font-weight: 300;
    font-size: 16px;
}

.footer .contact-footer {
    color: #bbbbbb;
    font-weight: 300;
    font-size: 16px;
}

.footer .contact-footer i {
    padding-right: 10px;
    line-height: 30px;
}


.footer{
	background-color: #24262b;
    padding: 70px 0;
}


.footer-col{
    width: 25%;
    /* width: 100%; */
    padding: 0 15px;
}

.col-navigation {
    padding-left: 70px;
}


.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}


.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: var(--primary-color);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}


.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}


.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}


.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}


.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/* FOOTER END=============================================================================== */





/* BOTTOM FOOTER BEGIN================================================================= */
.footer-bottom {
    color: white;
    background-color: var(--primary-color);
    width: 100%;
    padding: 20px 0;
    text-align: center;
    overflow: hidden;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
/* BOTTOM FOOTER END================================================================= */












































/* RESPONSIVE BEGIN=================================================================== */
/* TOP HEADER RESPONSIVE========*/
@media (max-width: 450px) {


    .mobile-hamburger {
        display: block;
    }


    header nav {
        display: none;
    }

    .top-bar .socialtop {
        display: none;
    }


    .top {
        width: 100%;
    }

    .top-bar {
        align-items: center;
        background-color: var(--primary-color);
        height: 40px;
        width: 100%;
        margin: 0 auto;
    }

    .top-bar .contact-top{
        margin: 0;
        display: flex;
        justify-content: space-between;
        padding-left: 0;
    }

    .top-bar .contact-top span {
        display: block;
        width: 100%;
        padding-left: 15px;
        margin-left: 5px;
    }
    
    .contact-top span i {
        color: white;
        font-size: 14px;
    }
    
    .contact-top span i a {
        font-size: 13px;
        color: white;
        font-weight: 300;
        padding-left: 5px;
        text-decoration: none;
    }




/* BOTTOM HEADER RESPONSIVE=============== */


    header .bottom-header span {
        display: inline-block;
    }




    header .mobile-hamburger {
        font-size: 30px;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        padding-right: 20px;
    }


    header {
        height: 80px;
        width: 100%;
        color: white;
        background-color: var(--primary-color);
    }
    
    
    header .wrapper {
        height: 85px;
        background-color: #fff;
        box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
        z-index: 999;
        transition: all 0.5s;
        width: 100%;
    }
    
    header .bottom-header {
        display: flex;
        justify-content: space-between;
        /* align-items: center; */
        height: 85px;
        width: 100%;
        margin: 0;
    }
    
    header .bottom-header .logo{
        margin: 0;
        width: 100%;
        padding-left: 20px;
    }
    
    header a {
        color: var(--primary-color);
        text-decoration: none;
    }
    
    
    header .bottom-header .logo a {
        font-size: 35px;
        font-weight: 700;
        color: black;
    } 



/* MAIN RESPONSIVE */
main {
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: 350%;
    background-attachment: scroll;
    background-position: -750px 0px;
    overflow: hidden;
}

main {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding: 60px 0;
    overflow: hidden;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

main::before {
    content: "";
    background: rgba(0, 0, 0, 0.384);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

main .container {
    margin: 0;
    padding: 0 20px;
    position: relative;
}

main .container h1 {
    margin: 0;
    font-size: 58px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}

main .container h2 {
    text-transform: uppercase;
    color: #fff;
    margin: 10px 0;
    font-size: 27px;
    padding-left: 0;
    font-weight: 400;
}

main .container h3 {
    color: white;
    font-size: 16px;
    padding-left: 0;
    font-weight: 400;
    margin-bottom: 25px;
}


main .btn-main-1 {
text-decoration: none;   
text-transform: uppercase;
font-weight: 500;
font-size: 12px;
letter-spacing: 1px;
display: inline-block;
padding: 15px 32px;
border-radius: 4px;
transition: 0.5s;
color: #fff;
background: var(--primary-color);
margin-left: 0px;
border: 2px solid var(--primary-color);
}

main .btn-main-1:hover {
    transform: translateY(10px);
}

main .btn-main-2 {
    text-decoration: none;   
    text-transform: uppercase;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 15px 32px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    border: 2px solid white;
    margin-left: 10px;
}

main .btn-main-2:hover {
    background-color: var(--primary-color);
    color: white;
    border: 2px solid var(--primary-color);
    transform: translateY(10px);
}


/* ABOUT-US RESPONSIVE==========================================================*/

.about-us {
    width: 100%;
    padding: 48px 0px;
    margin-top: 200px;
}

.about-us .about-container {
    margin: 0px;
    padding: 20px;
}

.about-us .row-about {
    width: 100%;
    margin: 0 -24px;
    display: flex;
    flex-direction: column;
}

.about-us .about-image {
    min-height: 300px;
    padding: 0 20px;
    margin-left: 30px;
}


.about-image .img-about img {
    object-fit: cover;
    vertical-align: middle;
    transform: scale(1.2);
    width: 100%;
    height: 100%;
}

.service11:hover {
    transform: scale(1.0);
    outline: 2px solid var(--primary-color);
}


.about-us .about-text {
    padding: 0 24px;
    width: 420px;
}

.about-text .about-leftborder {
    border-left: 5px solid var(--primary-color);
    padding-left: 20px;
    margin-bottom: 8px;
}

.about-leftborder h6 {
    margin-bottom: 8px;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--primary-color);
}

.about-leftborder h1 {
    text-transform: uppercase;
    font-size: 27px;
    width: 100%;
    font-weight: 700;
    line-height: 1.2;
}

.about-us h4 {
    margin-top: 20px;
    font-size: 14px;
    color: #656565;
}

.about-us .mission-vission {
    padding: 0px;
    background-color: #F3F3F3;
    width: 100%;
    margin-top: 30px;
}

.mission-vission ul {
    padding-left: 0;
    margin-bottom: 16px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mission-vission .li1 {
    width: 50%;
    display: list-item;
    text-align: center;
}

.mission-vission .li2 {
    width: 50%;
    display: list-item;
    text-align: center;
}

.mission-vission ul .li1 button {
    padding: 8px 16px;
    width: 100%;
    border: none;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    background-color: var(--primary-color);
}

.mission-vission ul .li2 button {
    padding: 8px 16px;
    width: 100%;
    border: none;
    cursor: pointer;
    color: var(--primary-color);
    text-transform: uppercase;
}

.mission-vission .about-paragraph {
    font-size: 17px;
    padding: 0 5px;
}
/* ABOUT-US END RESPONSIVE================================================================= */




/* SERVICES RESPONSIVE BEGIN================================================================ */
.services-section {
    width: 100%;
    height: 100vh;
    margin-top: 100px;
    overflow: visible;
}

.container-services {
    width: 100%;
    margin: 0;
    height: 100vh;
    padding: 0px 10px;
}


.row-services {
    display: grid;
    margin: 0;
    padding: 0;
    /* grid-template-columns: repeat(auto-fit, minmax(700px, 1fr)); */
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
}

.services-section .border-header {
    width: 100%;
    margin-left: 0;
    border-width: 5px;
    padding-left: 20px;
    margin-bottom: 48px;
    border-left: 5px solid var(--primary-color);
}

.container-services .border-header h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    color: var(--primary-color);
}

.container-services .border-header h1 {
    font-size:  25px;
    text-transform: uppercase;
}

.service2 h2 {
    text-transform: uppercase;
    font-size: 15px;
}

.service2 p {
    font-size: 14px;
}

.row-services a{
    text-decoration: none;
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 12px;
}


.service11 img {
    transform: scale(0.8);
    height: 100px;
    border-radius: 7px;
}

.service11:hover {
    transform: scale(1.05);
}

.service2 {
    margin-left: 0px;
}

.service11 {
    background: rgb(238, 238, 238);
    padding: 25px 5px;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s, background 0.5s;
}

.service11 i {
    color: var(--primary-color);
}
/* SERVICES RESPONSIVE END================================================================ */




/* PRODUCTS RESPONSIVE BEGIN============================================================= */
.produktet {
    overflow: hidden;
    margin-top: 400px;
}

.produktet .cont {
    margin: 0;
}


.carousel-owl {
    padding: 48px 12px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.carousel-owl .pb-5 {
    width: 100%;
    /* margin: 0 10px; */
    margin: 0 20px;
    padding: 10px;
    background-color: rgb(238, 238, 238);
    
}

.carousel-owl .pb-5 img {
    margin-bottom: 20px;
    display: block;
    width: 100%;
    height: auto;
}

.carousel-owl .pb-5 h6 {
    font-size: 19px;
    margin-bottom: 8px;
    font-weight: 700;
    line-height: 1.2;
    color: #212121;
    display: block;
    text-align: center;
}

.produktet .pb-5 h5 {
    font-size: 14px;
    color: #106EEA;
}

.produktet .border-header h6 {
    color: var(--primary-color);
    font-size: 20px;
}

.border-header {
    margin-left: 20px;
    max-width: 300px;
    width: 100%;
    border-width: 5px;
    padding-left: 20px;
    margin-bottom: 3rem;
    display: block;
    border-color: #7AB730;
    border-left: 5px solid var(--primary-color);
}



.cont .border-header h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    color: var(--primary-color);
}

.cont .border-header h1 {
    font-size:  25px;
    text-transform: uppercase;
}


.produktet .cont {
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px 0;
}


.product-item {
    padding: 30px;
}

.owl-nav {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
}


.owl-nav .owl-prev {
    background-color: var(--primary-color);
    padding: 12px 22px;
    margin: 10px;
}

.owl-nav .owl-next {
    padding: 12px 22px;
    margin: 10px;
    background-color: var(--primary-color);
}

.owl-nav i {
    color: white;
}

.owl-nav i:hover{
    color: black;
    transition: all 0.3 ease;
}

.owl-nav .owl-next:hover {
    color: black;
    transition: all 0.3 ease;
    cursor: pointer;
}

.owl-nav .owl-prev:hover {
    color: black;
    cursor: pointer;
    transition: all 0.3 ease;
}
/* PRODUCTS RESPONSIVE END============================================================== */
















/* OFFER RESPONSIVE BEGINN============================================================== */
.special-offer {
    overflow: hidden;
    background-image: url(../images/offer.jpg);
    background-size: 250%;
    background-repeat: no-repeat;
    background-position: -600px 0px;
    margin: 0px;
    padding: 48px 12px;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.special-offer::before {
        content: "";
        background: rgba(0, 0, 0, 0.129);
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
}

.special-offer .offer-container {
    margin: 0px;
    padding: 48px 12px;
    width: 100%;
    color: white;
}

.special-offer .offer-flexstart {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.special-offer .offer-info {
    width: 100%;
    padding: 0 24px;
}

.special-offer .offer-heading {
    border-left: 5px solid var(--primary-color);
    padding-left: 10px;
    margin-bottom: 48px;
} 

.offer-heading h6 {
    margin-bottom: 8px;
    font-weight: 500;
    line-height: 1.2;
    font-size: 13px;
    color: white;
    text-transform: uppercase;
}

.offer-heading h1 {
    font-weight: 700;
    line-height: 1.2;
    font-size: 25px;
    text-transform: uppercase;
}

.special-offer .text-offer {
    width: 100%;
    display: block;
    margin-bottom: 24px;
}

.offerbuton {
    display: inline-block;
    padding: 10px 18px;
    border: 1px solid white;
    margin-right: 16px;
    background-color: white;
    text-decoration: none;
    color: black;
}

.offerbuton2 {
    display: inline-block;
    padding: 10px 18px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
}

.offerbuton2:hover {
    background-color: white;
    color: black;
    transition: all 0.3s ease-in-out;
}
/* OFFER RESPONSIVE END================================================================= */



/* TEAM RESPONSIVE BEGIN================================================================ */
.team {
    overflow: h;
    padding: 48px 0px;
    width: 100%;
    margin: 0;
    overflow: hidden;
    margin-top: 150px;
}

.team .team-container {
    width: 100%;
    padding: 0;
    margin: 0;
}

.team .border-header {
    width: 100%;
    padding-left: 20px;
    margin-bottom: 48px;
    border-left: 5px solid var(--primary-color);
}

.team .border-header h6 {
    margin-bottom: 8px;
    font-size: 13px;
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: 400;
}

.team .border-header h1 {
    font-size: 25px;
    text-transform: uppercase;
}


.team .team-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    justify-content: flex-start;
    width: 100%;
    overflow: hidden;
}

.team-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    margin-left: 0;
}


.team .member {
    height: 400px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    overflow: hidden;
    padding-bottom: 15px;
    background-color: rgb(238, 238, 238);
    text-align: center;
}


.team-slider .team-text {
    margin-top: 60px;
}


.team-slider img {
    overflow: hidden;
    /* width: 100%; */
    height: 100%;
    transform: scale(1.3);
}

.team-slider h4 {
    font-size: 20px;
}

.team-slider h6 {
    font-size: 12px;
    font-weight: 400;
    color: rgb(83, 83, 83);
}

/* TEAM RESPONSIVE END================================================================== */















/* PRICING RESPONSIVE BEGIN============================================================== */
.pricing-panel .border-header {
    margin: 0;
}

.pricing-panel .border-header h6{
    font-size: 13px;
}

.pricing-panel .border-header h1{
    font-size: 25px;
}

.pricing-panel {
    margin: 0;
    padding: 48px 0;
    width: 100%;
    margin-top: 100px;
    /* overflow: hidden; */
}

.pricing-panel .pricing-container {
    margin: 0;
    width: 100%;
    padding: 0 12px;
}

.pricing-row {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

.pricing-row .price-col {
    width: 400px;
    padding: 0 24px;
}

.price-col-inside {
    text-align: center;
    background-color: #F3F3F3;
    margin-top: 48px;
    padding-top: 48px;
    height: 100%;
    margin-bottom: 0px;
}

.price-col-inside h2 {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 8px;
}

.price-col-inside h6 {
    font-size: 16px;
    color: #656565;
    margin-bottom: 48px;
}

.price-col-inside .price-green {
    background-color: #7AB730;
    text-align: center;
    padding: 24px;
    margin-bottom: 8px;
}

.price-col-inside .price-green h1 {
    font-size: 48px;
    color: white;
}

.price-col-inside .price-green .small1 {
    font-size: 22px;
    line-height: 45px;
    vertical-align: top !important;
}

.price-col-inside .price-green .small2 {
    font-size: 16px;
    line-height: 40px;
    vertical-align: bottom !important;
}


.price-col-inside .price-table{
    padding: 24px;
    text-align: center;
    margin-bottom: 0px;
}

.price-table .price-table-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    padding-bottom: 10px;
}


.pricing-panel .orderbuton {
    margin-top:20px;
}

.pricing-panel .order-now {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background-color: #7AB730;
    border: 1px solid #7AB730;
    padding: 8px 24px;
    margin-top: 10px;
}

/* PRICE RESPONSIVE END=============================================================== */

















/* TOP FOOTER BEGIN=====================================================================*/
.footer-top{
	max-width: 420px;
	margin: auto;
}


.row{
	display: flex;
	flex-wrap: wrap;
    /* display: grid;
    grid-template-rows: repeat(4, 1fr); */
}


.footer ul{
	list-style: none;
}

.footer .text-footer {
    color: #bbbbbb;
    width: 300px;
    padding-bottom: 10px;
    font-weight: 300;
    font-size: 16px;
}

.footer .contact-footer {
    color: #bbbbbb;
    font-weight: 300;
    font-size: 16px;
}

.footer .contact-footer i {
    padding-right: 10px;
    line-height: 30px;
}


.footer{
	background-color: #24262b;
    padding: 70px 0 30px 0;
}


.footer-col{
    width: 25%;
    width: 100%;
    padding: 10px 15px;
}


.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}


.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: var(--primary-color);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}


.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}


.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}


.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}


.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
/* TOP FOOTER END ====================================================================== */
























/* TESTIMONIAL RESPONSIVE BEGIN=========================================================== */
.testimonial {
    background-image: url(../images/dog-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 48px 20px;
    margin: 250px 0;
    height: 100%;
}

.testimonial-container {
    padding: 48px 0px;
    margin: 0 auto;
    width: 100%;

}

.testimonial-row {
    display: flex;
    justify-content: flex-end;

}

.testimonial-col {
    width: 100%;
    padding-left: 0;
    padding: 0;
}

.testimonial-col .col-inside {
    background-color: white;
    padding: 30px 0px;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
}

.testimonial-col .col-inside p {
    color: rgb(71, 71, 71);
    font-weight: 400;
    font-size: 14px;
    word-break: break-all;
    padding: 0 7px;
    line-height: 25px;

}

.testimonial-col .col-inside h3 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    padding-top: 20px;
}

.testimonial-col .col-inside h6 {
    color: rgb(71, 71, 71);
    font-size: 16px;
    font-weight: 400;
}

.testimonial .text-testimonial {
    width: 100%;
    display: block;
    text-align: center;
}

.testimonial-col .stage-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.testimonial-col .stage-nav i {
    padding: 10px 17px;
    background-color: var(--primary-color);
    color: white;
    margin: 0 10px;
    cursor: pointer;
}

.testimonial img {
    transform: scale(0.8);
}

.testimonial .testimonial-image {
}
/* TESTIMONIAL RESPONSIVE END============================================================ */














/* BLOG RESPONSIVE START =========================================================================== */
.blog {
    margin: 0;
    width: 100%;
    padding: 48px 12px;
}

.blog-container {
    padding: 0 12px;
    width: 100%;
    align-items: center;
    margin: 0;
}

.blog-border-header {
    width: 100%;
    padding-left: 48px;
    margin-bottom: 48px;
    border-left: 5px solid var(--primary-color);
}

.blog .blog-border-header h6 {
    margin-bottom: 8px;
    font-size: 13px;
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: 400;
}

.blog .blog-border-header h1 {
    font-size: 25px;
    text-transform: uppercase;
}

.blog-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}


.blog-col1 {
    padding: 0 24px;
    margin-top: 48px;
    width: 700px;
    height: 100%;
    overflow: hidden;
}


.blog-row-inside {
    display: flex;
    flex-direction: column;
    background-color: #F3F3F3;
    margin: 0;
    padding: 0;
}

.row-col1 {
    overflow: hidden;
    width: 100%;
}


.row-col1 img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.row-col2 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.col-row4 {
    padding: 24px;
}

.row-date-info {
    margin-bottom: 16px;
}

.col-row4 h5 {
    text-transform: uppercase;
    margin-bottom: 16px;
    font-size: 17px;
}

.col-row4 p {
    margin-bottom: 16px;
}

.col-row4 a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary-color);
}



/* BLOG RESPONSIVE END============================================================================== */








/* CONTACT2 RESPONSIVE BEGIN================ */
.contact2 {
    padding: 60px 0;
    margin: 0;
    margin-bottom: 100px;
}

.contact-container {
    padding: 0 12px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.contact-title {
    padding-bottom: 40px;
    text-align: center;
}

.contact-title h4 {
    font-size: 6px;
}

.contact-form2 {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
}

.left-contact {
    padding: 0 12px;
    width: 100%;
}

.right-contact {
    padding: 0 12px;
    width: 100%;
    margin-top: 50px;
}

.contact2 .email {
    margin-top: 40px;
}

.contact2 .phone{
    margin-top: 40px;
}

.contact2 .info-contact h4 {
    padding-left: 60px;
    margin-bottom: 5px;
}

.contact2 .info-contact p {
    padding-left: 60px;
}


.right-contact .form-name-email {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 10px;
}

.right-contact .form-name-email .name2 {
    width: 50%;
}

.right-contact .form-name-email .email2 {
    width: 50%;
}

.name2 input {
    padding: 6px 12px;
    border: 1px solid #ced4da;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    width: 100%;
    color: #212529;
    height: 44px;
    width: 100%;
}

.email2 input {
    padding: 6px 12px;
    border: 1px solid #ced4da;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    width: 100%;
    color: #212529;
    height: 44px;
    width: 100%;
}

.form-subject input {
    padding: 6px 12px;
    border: 1px solid #ced4da;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    width: 100%;
    color: #212529;
    height: 44px;
}

.form-message input{
    padding: 10px 12px;
    border: 1px solid #ced4da;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    width: 100%;
    color: #212529;
    height: 44px;
}

.form-submit {
    text-align: center;
}

.form-submit button {
    background: var(--primary-color);
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
    margin-top: 20px;
}

.right-contact .form-subject {
    margin-top: 16px;
    padding-bottom: 8px;
}

.right-contact .form-message {
    margin-top: 16px;
    padding-bottom: 8px;
}

.right-contact .form-message textarea {
    padding: 10px 12px;
    border: 1px solid #ced4da;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    width: 365px;
    color: #212529;
}

.right-contact .form-submit{

}



}
/* RESPONSIVE END===================================================================== */

